section.about-me {
    background: rgba(190, 226, 226, 0.30) linear-gradient(0deg, rgba(255,255,255,0.35) 0%, rgba(136,202,201,0.41) 23%, rgba(111,134,147,0.53) 48%, rgba(118,92,128,0.62) 73%, #583765 100%);
}

.about-wrapper {
    margin: 0 auto;
    text-align: center;
    max-width: 893px;
    padding-top: 60px;
    padding-bottom: 30px;

    img {
        border-radius: 50%;
    }

    p:nth-child(4) {
        padding-top: 24px;
    }
}
