// General Stylings
.case-study-centered {
    text-align: center;
    background-color: $ltest-green;
}

.case-study-wrapper-centered {
    max-width: 895px;
    padding: 50px 0;
}

.case-study-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.case-study-content-left {
    flex: 0 1 40%;
}

.case-study-content-right {
    flex: 0 1 50%;
}

.graphic-content-right {
    text-align: center;
}

// Survey Section
.survey {
    background-color: #F2F5F5;
}

.survey-pie-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.survey-pie-chart {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 20px 0;
    }
}

.chart-labels {
    display: flex;
    flex-wrap: wrap;

    .dark-purple {
        background-color: $dark-purple;
    }

    .med-pink {
        background-color: $med-pink;
    }

    .med-green {
        background-color: $med-green;
    }

    .dark-green {
        background-color: $dark-green;
    }
}

.chart-label-color {
    width: 15px;
    height: 15px;
    background-color: $med-purple;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.survey-finding-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.survey-finding {
    width: 280px;
}


// User Stories & User Flows
.user-stories-flows {
    background-color: #F8FAFA;
}

.user-stories {
    flex: 0 1 45%;
}

.user-flows {
    flex: 0 1 45%;
}

.user-stories-flows-example {
    div:nth-child(2) {
        padding-top: 15px;
    }
}

// Branding & Identity
.style-guide-sections {
    padding-top: 40px;
    display: flex;

    h6 {
        padding-bottom: 15px;
    }

    ul {
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
    }
}


.branding-logo-variations {
    ul {
        display: flex;

        li:last-child {
            background-color: #42BBC5;
        }
    }

    li {
        width: 130px;
        height: 130px;
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #F1F1F1;
        box-shadow: 5px 5px 4px #DBDADC;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.moneta-primary-palette {
    padding-right: 60px;
}

.colour-swatches {
    display: flex;

    li {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }

    .moneta-dk-blue {
        background-color: #4D7298;
    }

    .moneta-med-blue {
        background-color: #42BBC5;
    }

    .moneta-med-green {
        background-color: #9AEAD4;
    }

    .moneta-lt-green {
        background-color: #EDF7F4
    }

    .moneta-pink {
        background-color: #E17BAC;
    }

    .moneta-purple {
        background-color: #83437E;
    }
}

.colour-swatch {
    width: 55px;
    height: 55px;
    background-color: #111111;
    border-radius: 50%;
    margin-bottom: 10px;
}

.moneta-typography {
    ul {
        font-size: 24px;
        line-height: 32px;
    }

    .playfair-display-black-heading {
        font-family: 'Playfair Display', serif;
        font-weight: 900;
    }

    .montserrat-medium-heading {
        font-family: 'Montserrat', serif;
        font-weight: 500;
    }

    .montserrat-light-body {
        font-family: 'Montserrat', serif;
        font-weight: 300;
    }
}

.moneta-headings {
    padding-right: 110px;
}

// Testing
.testing-bg {
    background-color: #F8FAFA;
}

.test-plan {
    font-size: 14px;
}

.test-plan-section {
    padding-top: 15px;
}

// Conclusion
.conclusion {
    position: relative;
}

.conclusion-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.45;
    background: #BEE2E2;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.35) 0%, rgba(136,202,201,0.41) 23%, rgba(111,134,147,0.53) 48%, rgba(118,92,128,0.62) 73%, #583765 100%);
}

.conclusion-content {
    position: relative;
    z-index: 2;
}
