.case-study-centered {
    text-align: center;
    background-color: $ltest-green;
}

.case-study-wrapper-centered {
    max-width: 895px;
    padding: 50px 0;

    img {
        width: 100%;
        padding: 50px 0 30px 0;
    }
}

.case-study-article-wrapper {
    max-width: 100%;
}

.case-study-content-wrapper {
    display: flex;
    justify-content: space-between;
}

.case-study-content-left {
    flex: 0 1 40%;
}

.case-study-content-right {
    flex: 0 1 50%;
}

.graphic-content-right {
    text-align: center;
}

// Case Study Intro
.case-study-intro-container {
    max-width: $site-width;
    margin: 0 auto;
    min-height: 82vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cs-summary-details-container {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.case-study-intro-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.cs-summary-details-wrapper {
    font-size: 0.778em; /* 14px */
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    width: 100%;
}

.case-study-summary {
    display: flex;
    justify-content: space-around;
}

.cs-summary-content {
    flex: 0 1 40%;
    align-self: flex-end;
}

.cs-summary-detail-section {
    flex: 0 1 30%;
}

.end-product {
    flex: 0 1 20%;
}

// Survey Section
.survey {
    background-color: $lt-grey-bg;
}

.survey-pie-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.survey-pie-chart {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 20px 0;
    }
}

.chart-labels {
    display: flex;
    flex-wrap: wrap;

    .med-purple {
        background-color: $med-purple;
    }

    .dark-purple {
        background-color: $dark-purple;
    }

    .med-pink {
        background-color: $med-pink;
    }

    .med-green {
        background-color: $med-green;
    }

    .dark-green {
        background-color: $dark-green;
    }
}

.chart-label-color {
    width: 15px;
    height: 15px;
    background-color: $black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.survey-finding-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.survey-finding {
    width: 280px;
}


// User Stories & User Flows Section
.user-stories-flows {
    background-color: $lt-grey-bg;
}

.user-stories {
    flex: 0 1 45%;
}

.user-flows {
    flex: 0 1 45%;
}

.user-stories-flows-example {
    div:nth-child(2) {
        padding-top: 15px;
    }
}

// Branding & Identity Section
.brand-identity-container {
    padding: 30px 0;
}

.style-guide-sections {
    padding-top: 40px;
    display: flex;

    h6 {
        padding-bottom: 15px;
    }

    .colour-palette {
        ul {
            font-size: 0.667em; /* 12px */
            font-weight: 400;
            line-height: 1.25;
        }
    }
}

.branding-logo-variations {
    ul {
        display: flex;
    }

    li {
        border-radius: 10px;
        background-color: #fff;
        border: 1px solid #F1F1F1;
        box-shadow: 5px 5px 4px #DBDADC;
        margin-right: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.primary-palette {
    padding-right: 60px;
}

.colour-swatches {
    display: flex;

    li {
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }
}

.colour-swatch {
    width: 55px;
    height: 55px;
    background-color: #111111;
    border-radius: 50%;
    margin-bottom: 10px;
}

// Testing Section
.testing-bg {
    background-color: $lt-grey-bg;
}

.testing-container {
    padding: 50px 0;
}

.testing-section {
    padding-top: 15px;
}

// Conclusion
.conclusion {
    position: relative;
}

.conclusion-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.45;
    background: $ltest-green;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.35) 0%, rgba(136,202,201,0.41) 23%, rgba(111,134,147,0.53) 48%, rgba(118,92,128,0.62) 73%, #583765 100%);
}

.conclusion-content {
    position: relative;
    z-index: 2;
}


// Media Queries
@media screen and (max-width: $medium-screen) {

    .case-study-intro-container {
        max-width: 708px;
        margin: 0 auto;
        min-height: 0;
        margin-left: 30px;
        margin-right: 30px;

    }

    .cs-summary-details-container {
        max-width: 708px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .case-study-wrapper-centered {
        max-width: 708px;
        margin-left: 30px;
        margin-right: 30px;
    }

    .case-study-intro-wrapper {
        text-align: center;
    }

    .case-study-article-wrapper {
        padding: 50px 0;
    }

    .case-study-content-wrapper {
        flex-direction: column;
        max-width: 100%;

        .case-study-content-left {
            padding-bottom: 40px;
        }
    }

    .case-study-summary {
        flex-direction: column;
        padding: 30px 0;

        img {
            align-self: center;
            width: 75%;
            height: 75%;
            padding-bottom: 40px;
        }

        p {
            line-height: 1.5;
        }
    }

    .competitive-analysis {
        .case-study-content-left {
            padding-bottom: 0;
        }
    }

    .ca-infographic {
        display: none;
    }

    .user-stories {
        padding: 50px 0;
    }

    .user-flows {
        padding-bottom: 50px;
    }
}

@media screen and (max-width: $small-screen) {
    .case-study-wrapper-centered {
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            width: 120%;
            height: 120%;
        }
    }

    .case-study-summary {
        img {
            width: 90%;
            height: 90%;
        }
    }

    .case-study-intro-wrapper {
        margin-top: 50px;
    }

    .cs-summary-details-wrapper {
        flex-wrap: wrap;
    }

    .cs-summary-detail-section {
        flex: 0 1 100%;
        padding-top: 15px;
    }

    .survey-pie-charts {
        flex-direction: column;
        align-items: center;

        .survey-pie-chart {
            padding-bottom: 40px;
        }
    }

    .survey-finding-wrapper {
        flex-wrap: wrap;

        .survey-finding {
            flex: 0 1 100%;

            &:nth-child(2) {
                padding-top: 20px;
            }
        }
    }

    .user-stories-flows-example {
        img {
            width: 100%;
            height: 100%;
        }
    }

    .style-guide-sections {
        flex-wrap: wrap;

        .secondary-palette {
            padding-top: 30px;
        }
    }

    .testing-bg {
        .case-study-content-left {
            padding-bottom: 0;
        }

        .case-study-article-wrapper {
            padding-bottom: 0;
        }
    }

    .testing-container {
        .case-study-article-wrapper {
            padding-top: 0;
        }
    }

    .test-plan {
        display: none;
    }

    .graphic-content-right {
        img {
            width: 100%;
            padding-bottom: 15px;
        }
    }
}
