.moneta-intro-bg {
    background: rgba(77, 114, 152, 0.15);
}


.moneta-intro-bg-img {
    background-image: url('../../assets/images/moneta-case-study/newlyweds.jpg');
    opacity: 0.15;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

.colour-swatches {
    .moneta-dk-blue {
        background-color: $moneta-dk-blue;
    }

    .moneta-med-blue {
        background-color: $moneta-med-blue;
    }

    .moneta-med-green {
        background-color: $moneta-med-green;
    }

    .moneta-lt-green {
        background-color: $moneta-lt-green;
    }

    .moneta-pink {
        background-color: $moneta-pink;
    }

    .moneta-purple {
        background-color: $moneta-purple;
    }
}

.moneta-logos {
    ul {
        li:last-child {
            background-color: $moneta-med-blue;
        }
    }

    li {
        width: 130px;
        height: 130px;
    }
}

.moneta-headings {
    padding-right: 110px;
}
