.foodlandia-intro-bg {
    background: rgba(77, 114, 152, 0.10);
}


.foodlandia-intro-bg-img {
    background-image: url('../../assets/images/foodlandia-case-study/takeout.jpg');
    opacity: 0.15;
    background-position: top center;
    background-repeat: no-repeat;
    height: 100%;
}

.foodlandia-showcase {
    display: flex;
    flex: 0 1 60%;

    img {
        display: block;
        margin: auto;
    }
}

.colour-swatches {
    .foodlandia-green {
        background-color: $foodlandia-green;
    }

    .foodlandia-yellow {
        background-color: $foodlandia-yellow;
    }

    .foodlandia-violet {
        background-color: $foodlandia-violet;
    }

    .foodlandia-pink {
        background-color: $foodlandia-pink;
    }
}

.foodlandia-logos {
    ul {
        li:last-child {
            background-color: #000;
        }
    }

    li {
        width: 250px;
        height: 150px;
    }
}

.foodlandia-typography {
    display: flex;
    justify-content: space-between;
}


// Media Queries
@media screen and (max-width: $medium-screen) {
    .foodlandia-case-study-bg {
        img {
            width: 25%;
        }

        .cs-summary-content {
            padding: 0;
        }
    }
}

@media screen and (max-width: $small-screen) {
    .foodlandia-showcase {
        img {
            width: 50%;
            height: 50%;
        }
    }

    .foodlandia-logos {
        ul {
            flex-wrap: wrap;

            li:nth-child(2) {
                margin-top: 20px;
            }
        }
    }
}
