// General Stylings
.case-study-centered {
    text-align: center;
    background-color: $ltest-green;
}

.case-study-wrapper-centered {
    max-width: 895px;
    padding: 50px 0;
}

.case-study-content-wrapper {
    display: flex;
    max-width: 1048px;
}

.case-study-content-left {
    flex: 0 1 40%;
}

.case-study-content-right {
    flex: 0 1 60%;
    padding-left: 80px;
}

// Survey Section
.survey {
    background-color: #F2F5F5;
}

.survey-pie-charts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.survey-pie-chart {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        padding: 20px 0;
    }
}

.chart-labels {
    display: flex;
    flex-wrap: wrap;

    .dark-purple {
        background-color: $dark-purple;
    }

    .med-pink {
        background-color: $med-pink;
    }

    .med-green {
        background-color: $med-green;
    }

    .dark-green {
        background-color: $dark-green;
    }
}

.chart-label-color {
    width: 15px;
    height: 15px;
    background-color: $med-purple;
    border-radius: 50%;
    display: inline-block;
    margin-right: 10px;
}

.survey-finding-wrapper {
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.survey-finding {
    width: 280px;
}

// Conclusion
.conclusion {
    position: relative;
}

.conclusion-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    opacity: 0.45;
    background: #BEE2E2;
    background-image: linear-gradient(0deg, rgba(255,255,255,0.35) 0%, rgba(136,202,201,0.41) 23%, rgba(111,134,147,0.53) 48%, rgba(118,92,128,0.62) 73%, #583765 100%);
}

.conclusion-content {
    position: relative;
    z-index: 2;
}
