.contact-me-wrapper {
    margin: 0 auto;
    max-width: 588px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-me-form {
    margin-top: 60px;

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input::placeholder,
    textarea::placeholder {
        font-family: 'Lato', sans-serif;
        font-weight: $lato-light;
        font-size: 16px;
    }

    input,
    textarea {
        width: 100%;
        padding: 8px 15px;
        box-sizing: border-box;
        border: none;
        border-bottom: 3px solid #4A4A4A;
        margin-bottom: 40px;
        font-family: 'Lato', sans-serif;
        font-weight: $lato-light;
        font-size: 16px;
    }

    textarea {
        height: 40px;
    }

    input:focus,
    textarea:focus {
        outline: none;
        border-bottom: 3px solid $med-pink;
    }
}
