.design-projects {
    background-color: $lt-grey-bg;
}

.design-projects-wrapper {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 50px 0
}

.design-project-intro {
    flex: 0 1 30%;
}

.design-project-tiles {
    flex: 0 1 50%;
    display: flex;
    align-items: center;
    position: relative;
}

.tile-wrapper {
    position: relative;
    width: 280px;
    height: 280px;

    .view-case-study {
        position: absolute;
        bottom: 15%;
        width: 280px;
        pointer-events: none;
        display: none;
    }

    &:hover {
        .view-case-study {
            display: block;
        }

        .project-tile {
            .project-1-overlay {
                background-color: rgba(0, 0, 0, 0.7);
            }

            .project-2-overlay {
                background-color: rgba(0, 0, 0, 0.7);
            }

            .project-3-overlay {
                background-color: rgba(0, 0, 0, 0.7);
            }
        }
    }
}

.left-diamond {
    top: 110px;
    left: 60px;
}

.middle-diamond {
    top: -110px;
}

.right-diamond {
    top: 110px;
    right: 60px;
}

.project-tile {
    width: 280px;
    height: 280px;
    transform: rotate(45deg);
    box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.60);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    overflow: hidden;

    img {
        transform: rotate(-45deg);
    }
}

.project-1 {

    .project-1-bg {
        background-image: url("../../assets/images/jam-cafe.jpg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 145%;
        height: 145%;
        transform: rotate(-45deg);
    }

    .project-1-overlay {
        background-color: rgba(0,0,0,0.3);
        position: absolute;
        width: 145%;
        height: 145%;
    }
}

.project-2 {
    .project-2-bg {
        background-image: url("../../assets/images/newlyweds.jpg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 145%;
        height: 145%;
        transform: rotate(-45deg);
    }

    .project-2-overlay {
        background-color: rgba(77,114,152,0.6);
        position: absolute;
        width: 145%;
        height: 145%;
    }
}

.project-3 {

    .project-3-bg {
        background-image: url("../../assets/images/blocbox-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        width: 145%;
        height: 145%;
        transform: rotate(-45deg);
    }

    .project-3-overlay {
        position: absolute;
        width: 145%;
        height: 145%;
    }
}

// Media Queries
@media screen and (max-width: 1200px) {
    .design-projects-wrapper {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .design-project-intro,
    .design-project-tiles {
        flex: 0 1 100%;
    }

    .design-project-intro {
        text-align: center;
    }

    .design-project-tiles {
        margin-top: 200px;
    }
}

@media screen and (max-width: $medium-screen) {

    .design-project-tiles {
        display: flex;
        flex-direction: column;
        margin-top: 80px;
        margin-bottom: 400px;
    }

    .left-diamond {
        top: 0;
        left: 0;
    }

    .middle-diamond {
        top: 140px;
    }

    .right-diamond {
        top: 280px;
        right: 0;
    }
}
