footer {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: $dark-purple;
    padding: 30px 0;
}

.logo-copyright {
    display: flex;
    align-items: center;
    flex: 0 1 45%;

    p {
        padding-left: 20px;
        margin: 0;
    }
}

.resume-contact-social {
    display: flex;
    align-items: center;
    flex: 0 1 45%;
    justify-content: flex-end;

    ul {
        display: flex;
        margin: 0 50px 0 25px;

        li {
            padding-left: 25px;
        }
    }
}

.copyright-mobile {
    display: none;
}


// Media Queries
@media screen and (max-width: $medium-screen) {
    footer {
        flex-direction: column;
    }

    .logo-copyright {
        flex: 0 1 100%;
        justify-content: center;

        p {
            display: none;
        }

        img {
            width: 75px;
            height: 103.64px;
        }
    }

    .resume-contact-social {
        flex: 0 1 100%;
        justify-content: center;
        padding: 30px 0;
        flex-direction: column;

        ul {
            padding: 25px 0;
        }
    }

    .copyright-mobile {
        display: block;
        text-align: center;

    }
}
