nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    position: fixed;
    background-color: #fff;
    z-index: 5;


    .main-nav-logo {
        display: flex;
        flex: 0 1 10%;
    }

    .nav-links-desktop {
        display: flex;
        align-items: center;
        flex: 0 1 80%;
        justify-content: flex-end;

        ul {
            margin: 0;
            display: flex;

            li {
                padding-right: 50px;
            }

            li:nth-child(5),
            li:nth-child(6) {
                padding-right: 15px;
            }

            li:last-child {
                padding-right: 0;
            }

            img {
                opacity: 0.50;
            }
        }
    }

    .nav-links-mobile {
        display: none;
    }
}

@media screen and (max-width: $medium-screen) {
    nav {
        align-items: center;
        background: transparent;
        position: inherit;

        .main-nav-logo {
            flex: 0 1 45%;

            img {
                width: 50px;
                height: 65.22px;
            }
        }

        .nav-links-desktop {
            display: none;
        }

        .nav-links-mobile {
            display: flex;
            justify-content: flex-end;
            flex: 0 1 45%;

            i {
                font-size: 24px;
            }
        }
    }
}
