nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    position: fixed;
    background-color: #fff;
    z-index: 5;


    .main-nav-logo {
        display: flex;
        flex: 0 1 35%;
    }

    .nav-links {
        display: flex;
        align-items: center;
        flex: 0 1 55%;
        justify-content: flex-end;

        ul {
            margin: 0;
            display: flex;

            li {
                padding-right: 50px;
            }

            li:nth-child(5),
            li:nth-child(6) {
                padding-right: 15px;
            }

            li:last-child {
                padding-right: 0;
            }

            img {
                opacity: 0.50;
            }
        }
    }
}
