nav {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    position: fixed;
    background-color: #fff;
    z-index: 5;


    .main-nav-logo {
        display: flex;
        flex: 0 1 10%;
    }

    .nav-links-desktop {
        display: flex;
        align-items: center;
        flex: 0 1 80%;
        justify-content: flex-end;

        ul {
            margin: 0;
            display: flex;

            li {
                padding-right: 50px;

                a {
                    &.social {
                        width: 18px;
                        height: 18px;
                        background-size: contain;
                        background-repeat: no-repeat;
                        background-position: center center;
                        display: block;
                    }

                    &.linkedin {
                        background-image: url('../assets/icons/linkedin-black.svg');

                        &:hover {
                            background-image: url('../assets/icons/linkedin-colour.svg');
                        }
                    }

                    &.dribbble {
                        background-image: url('../assets/icons/dribbble-black.svg');

                        &:hover {
                            background-image: url('../assets/icons/dribbble-colour.svg');
                        }
                    }

                    &.github {
                        background-image: url('../assets/icons/github-black.svg');
                    }
                }
            }

            li:nth-child(5),
            li:nth-child(6) {
                padding-right: 15px;
            }

            li:last-child {
                padding-right: 0;
            }

            img {
                opacity: 0.50;
            }
        }
    }
}

.nav-mobile,
.nav-links-mobile {
    display: none;
}

@media screen and (max-width: $medium-screen) {
    .nav-desktop {
        display: none;
    }

    .nav-mobile {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        background: transparent;
        position: inherit;
        padding-top: 10px;

        i {
            font-size: 24px;
            flex: 0 1 45%;
            text-align: right;
        }

        .main-nav-logo {
            flex: 0 1 45%;


            img {
                width: 50px;
                height: 65.22px;
            }
        }
    }

    .nav-links-mobile {
        display: block;
        background-color: $ltest-green;
    }
}
