.header-content-wrapper {
    margin: 0 auto;
    max-width: 590px;
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

.title-location-wrapper {
    display: flex;
    justify-content: space-evenly;

    p:first-child {
        padding-right: 20px;
    }

    p:nth-child(2) {
        padding-right: 5px;
    }
}

.scroll-down-wrapper {
    max-width: 130px;
    display: flex;
    position: absolute;
    bottom: 30px;
    align-self: center;

    p {
        padding-left: 10px;
    }
}

@media screen and (max-width: $medium-screen) {
    .header-content-wrapper {
        padding: 150px 0;
        max-width: 100%;
    }

    .scroll-down-wrapper {
        display: none;
    }
}
