.header-content-wrapper {
    margin: 0 auto;
    max-width: 590px;
    display: flex;
    flex-direction: column;
}

.title-location-wrapper {
    display: flex;
    justify-content: space-evenly;

    p:first-child {
        padding-right: 20px;
    }

    p:nth-child(2) {
        padding-right: 5px;
    }
}

.scroll-down-wrapper {
    margin: 0 auto;
    max-width: 130px;
    display: flex;
    padding-top: 250px;

    p {
        padding-left: 10px;
    }
}
