.container {
    width: $site-width;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small {
    width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

a:hover {
    color: $med-green;
    text-decoration: underline;
}

.button-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 30px;

    .button-bg {
        position: absolute;
        top: 5px;
        left: 5px;
        z-index: 0;
        background-color: $lt-green;
        height: 100%;
        width: 100%;
    }
}

.primary-button {
    position: relative;
    padding: 10px 20px;
    border: 1px solid $black;
    background: none;
    z-index: 1;
}

button.slick-prev {
    left: -150px;
}

button.slick-next {
    right: -150px;
}
