.container {
    max-width: $site-width;
    margin: 0 auto;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-small {
    max-width: $site-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;

    &:hover {
        color: $med-green;
        text-decoration: underline;
    }
}

.button-wrapper {
    position: relative;
    display: inline-block;
    margin-top: 30px;

    .button-bg {
        position: absolute;
        top: 7px;
        left: 7px;
        z-index: 0;
        background-color: $lt-green;
        height: 100%;
        width: 100%;
    }
}

.primary-button {
    position: relative;
    padding: 15px 25px;
    border: 1px solid $black;
    background: none;
    z-index: 1;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    &:hover {
        background-color: $med-pink;
        border: 1px solid $med-pink;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.ghost-button {
    padding: 15px 20px;
    border: 1px solid #000;
    background: none;
    transition: all 0.2s ease-in-out;
    cursor: pointer;

    i {
        padding-right: 5px;
    }

    a {
        font-size: 12px;
    }

    &:hover {
        background-color: $med-purple;
        border: 1px solid $med-purple;

        a {
            color: #fff;
            text-decoration: none;
        }
    }
}

.end-product-button {
    border: 1px solid $lt-pink;
    background: $lt-pink;
}


// Media Queries
@media screen and (max-width: $medium-screen) {
    .container {
        max-width: 708px;
        margin-left: 30px;
        margin-right: 30px;
        min-height: 0;
    }

    .button-wrapper {
        .button-bg {
            top: 8px;
            left: 8px;
        }
    }

    .primary-button {
        padding: 20px 50px;
    }

    .ghost-button {
        padding: 20px 30px;
    }
}
