// General Typography Styles

@font-face {
    font-family: Angelline;
    src: url(../fonts/angelline.otf), url(../fonts/angeline.ttf);
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: $lato-light;
    color: $black;
    line-height: 24px;
}

h1 {
    font-family: 'Angelline', script;
    text-transform: lowercase;
    font-size: 90px;
    text-align: center;
    color: $med-green;
    margin-bottom: 45px;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-extra-bold;
    font-size: 48px;
    color: $dark-purple;
    line-height: 48px;
    text-transform: lowercase;
    margin: 0;
    padding-bottom: 30px;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-extra-bold;
    font-size: 36px;
    line-height: 53px;
    text-transform: lowercase;
    margin: 0;
    padding-bottom: 15px;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-semi-bold;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-semi-bold;
    font-size: 12px;
    color: $dark-purple;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0;
}

h6 {
    font-weight: 700;
    font-size: 10px;
    color: $dark-purple;
    line-height: 12px;
    text-transform: uppercase;
    margin: 0;
}

ul {
    margin: 0;
}

p {
    margin-top: 0;
}

a {
    font-weight: $lato-bold;
    color: $dark-green;
}

.nav-links {
    ul {
        font-weight: $lato-regular;
        font-size: 12px;
        line-height: 15px;
        text-transform: uppercase;
    }

    a {
        font-weight: $lato-regular;
        color: $black;
    }

    li:nth-child(4) {
        a {
            border: 1px solid $black;
            padding: 10px 15px;
            transition: all 0.25s ease-in-out;
        }
    }

    li:nth-child(4):hover {
        a {
            background-color: $med-green;
            border: 1px solid $med-green;
            padding: 10px 15px;
            color: #fff;
            text-decoration: none;

        }
    }
}

footer {
    font-weight: $lato-light;
    font-size: 14px;
    color: #fff;
    line-height: 17px;

    a {
        color: #fff;
        font-weight: $lato-regular;
        text-transform: lowercase;
    }
}

button {
    font-size: 10px;
    font-weight: $lato-bold;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;

    a {
        color: $black;
    }
}

// Home Page Typography
.header-content-wrapper {
    p {
        text-transform: uppercase;
        font-weight: $lato-regular;
        line-height: 22px;
    }
}

.scroll-down-wrapper {
    p {
        font-size: 8px;
        font-weight: $lato-bold;
        text-transform: uppercase;
        color: #4A4A4A;
        line-height: 10px;
    }
}

.process-tile {
    text-align: center;
    color: #fff;

    ul {
        font-weight: $lato-regular;
        font-size: 12px;
        line-height: 19px;
    }
}

.testimonials {
    blockquote {
        font-weight: $lato-regular;
        font-style: italic;
        line-height: 28px;
        color: #fff;

        span {
            font-family: 'Fira Sans', sans-serif;
            font-size: 76px;
            color: $lt-green;
        }

    }
}

.testimonial-client {
    p {
        font-family: 'Fira Sans', sans-serif;
        font-weight: $fira-sans-semi-bold;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
    }

    p:last-child {
        font-family: 'Lato', sans-serif;
        font-weight: $lato-regular;
        font-size: 12px;
        color: $lt-green;
    }
}

// Case Study Typography
.chart-labels {
    li {
        font-weight: $lato-light;
        font-size: 12px;
        padding: 0 20px 5px 0;
    }
}

.survey-finding-wrapper {
    ul {
        list-style-type: circle;
        padding-left: 25px;

        li {
            font-weight: $lato-light;
            font-size: 12px;
            line-height: 18px;
        }
    }
}

.user-stories-examples {
    p {
        font-size: 14px;
    }
}
