// General Typography Styles

@font-face {
    font-family: Angelline;
    src: url(../fonts/angelline.otf), url(../fonts/angeline.ttf);
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: $lato-light;
    color: $black;
    line-height: 1.5;
}

h1 {
    font-family: 'Angelline', script;
    text-transform: lowercase;
    font-size: 5.0em;  /* 90px */
    text-align: center;
    color: $med-green;
    margin-bottom: 5px;
    line-height: 1.2;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-extra-bold;
    font-size: 2.667em; /* 48px */
    color: $dark-purple;
    line-height: 1.0; /* 48px */
    text-transform: lowercase;
    margin: 0;
    padding-bottom: 30px;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-extra-bold;
    font-size: 2.0em; /* 36px */
    line-height: 1.5;
    text-transform: lowercase;
    margin: 0;
    padding-bottom: 15px;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-semi-bold;
    font-size: 1.111em; /* 20px */
    line-height: 1.45;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: $fira-sans-semi-bold;
    font-size: 0.667em; /* 12px */
    color: $dark-purple;
    line-height: 1.4;
    text-transform: uppercase;
    margin: 0;
}

h6 {
    font-weight: 700;
    font-size: 0.556em; /* 10px */
    color: $dark-purple;
    line-height: 1.2;
    text-transform: uppercase;
    margin: 0;
}

ul {
    margin: 0;
}

p {
    margin-top: 0;
}

a {
    font-weight: $lato-regular;
    color: $dark-green;
}

.nav-links {
    ul {
        font-weight: $lato-regular;
        font-size: 0.611em; /* 11px */
        line-height: 1.35;
        text-transform: uppercase;
    }

    a {
        font-weight: $lato-regular;
        color: $black;
    }

    li:nth-child(4) {
        a {
            border: 1px solid $black;
            padding: 10px 15px;
            transition: all 0.25s ease-in-out;
        }
    }

    li:nth-child(4):hover {
        a {
            background-color: $med-green;
            border: 1px solid $med-green;
            padding: 10px 15px;
            color: #fff;
            text-decoration: none;
        }
    }
}

footer {
    font-weight: $lato-light;
    font-size: 0.778em; /* 14px */
    color: #fff;
    line-height: 1.2;

    a {
        color: #fff;
        font-weight: $lato-regular;
        text-transform: lowercase;
    }
}

button {
    font-size: 0.556em; /* 10px */
    line-height: 1.0;
    text-transform: uppercase;
    text-align: center;

    a {
        color: $black;
        font-weight: $lato-bold;
    }
}

// Home Page Typography
.header-content-wrapper {
    p {
        text-transform: uppercase;
        font-weight: $lato-regular;
        line-height: 1.2;
    }
}

.scroll-down-wrapper {
    p {
        font-size: 0.444em; /* 8px */
        font-weight: $lato-bold;
        text-transform: uppercase;
        color: #4A4A4A;
        line-height: 1.2;
    }
}

.process-tile {
    text-align: center;
    color: #fff;

    ul {
        font-weight: $lato-regular;
        font-size: 0.667em; /* 12px */
        line-height: 1.6;
    }
}

.testimonials {
    blockquote {
        font-weight: $lato-regular;
        font-style: italic;
        line-height: 1.55;
        color: #fff;

        span {
            font-family: 'Fira Sans', sans-serif;
            font-size: 4.222em; /* 76px */
            color: $lt-green;
        }

    }
}

.testimonial-client {
    p {
        font-family: 'Fira Sans', sans-serif;
        font-weight: $fira-sans-semi-bold;
        font-size: 0.778em; /* 14px */
        line-height: 1.4;
        color: #fff;
        text-transform: uppercase;
    }

    p:last-child {
        font-family: 'Lato', sans-serif;
        font-weight: $lato-regular;
        font-size: 0.667em; /* 12px */
        color: $lt-green;
    }
}

// Case Study Typography
.chart-labels {
    li {
        font-weight: $lato-light;
        font-size: 0.667em; /* 12px */;
        padding: 0 20px 5px 0;
    }
}

.survey-finding-wrapper {
    ul {
        list-style-type: circle;
        padding-left: 25px;

        li {
            font-weight: $lato-light;
            font-size: 0.667em; /* 12px */;
            line-height: 1.5;
        }
    }
}

.user-stories-flows-example {
    p {
        font-size: 0.778em; /* 14px */
    }
}
