/* Typography */
@font-face {
    font-family: Angelline;
    src: url(../fonts/angelline.otf), url(../fonts/angeline.ttf);
    font-weight: bold;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: $black;
    line-height: 24px;
}

h1 {
    font-family: 'Angelline', script;
    text-transform: lowercase;
    font-size: 90px;
    text-align: center;
    color: $med-green;
    margin-bottom: 45px;
}

h2 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-size: 48px;
    color: $dark-purple;
    line-height: 70px;
    text-transform: lowercase;
    margin: 0;
}

h3 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 800;
    font-size: 36px;
    line-height: 53px;
    text-transform: lowercase;
    margin: 0;
    padding-bottom: 15px;
}

h4 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
    text-transform: uppercase;
    margin: 0;
}

h5 {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    color: $dark-purple;
    line-height: 17px;
    text-transform: uppercase;
    margin: 0;
}

h6 {
    font-weight: 700;
    font-size: 10px;
    color: $dark-purple;
    line-height: 12px;
    text-transform: uppercase;
}

ul {
    margin: 0;
}

a {
    font-weight: 900;
    color: $dark-green;
}

.header-content-wrapper {
    p {
        text-transform: uppercase;
        font-weight: 400;
        line-height: 22px;
    }
}

.scroll-down-wrapper {
    p {
        font-size: 8px;
        font-weight: 700;
        text-transform: uppercase;
        color: #4A4A4A;
        line-height: 10px;
    }
}

.nav-links {
    ul {
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        text-transform: lowercase;
    }

    a {
        font-weight: 400;
        color: $black;
    }

    li:nth-child(4) {
        a {
            font-weight: 900;
            color: $dark-green;
        }
    }
}

.process-tile {
    text-align: center;
    color: #fff;

    ul {
        font-weight: 400;
        font-size: 12px;
        line-height: 19px;
    }
}

.testimonials {
    blockquote {
        font-weight: 400;
        font-style: italic;
        color: #fff;

        span {
            font-family: 'Fira Sans', sans-serif;
            font-size: 76px;
            color: $lt-green;
        }

    }
}

.testimonial-client {
    p {
        font-family: 'Fira Sans', sans-serif;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        color: #fff;
        text-transform: uppercase;
    }

    p:last-child {
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        font-size: 12px;
        color: $lt-green;
    }
}

footer {
    font-weight: 300;
    font-size: 14px;
    color: #fff;
    line-height: 17px;

    a {
        color: #fff;
        font-weight: 400;
        text-transform: lowercase;
    }
}

button {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    text-transform: uppercase;
    text-align: center;

    a {
        color: $black;
    }
}
