// Colour Palette
$lt-purple: #A297A7;
$med-purple: #56425E;
$dark-purple: #342839;
$lt-green: #BEE2E2;
$ltest-green: #D8EEEE;
$med-green: #88CAC9;
$dark-green: #527A7A;
$lt-pink: #EADEE2;
$med-pink: #D8C3CA;
$dark-pink: #83767A;
$black: #2B2B2C;


// Layout
$site-width: 1200px;
