// Main Colour Palette
$lt-purple: #A297A7;
$med-purple: #56425E;
$dark-purple: #342839;
$lt-green: #BEE2E2;
$ltest-green: #D8EEEE;
$med-green: #88CAC9;
$dark-green: #527A7A;
$lt-pink: #EADEE2;
$med-pink: #D8C3CA;
$dark-pink: #83767A;
$black: #2B2B2C;
$lt-grey-bg: #F8FAFA;


// Moneta Case Study Colours
$moneta-dk-blue: #4D7298;
$moneta-med-blue: #42BBC5;
$moneta-med-green: #9AEAD4;
$moneta-lt-green: #EDF7F4;
$moneta-pink: #E17BAC;
$moneta-purple: #83437E;

// Blocbox Case Study Colours
$blocbox-dk-blue: #161A5B;
$blocbox-med-violet: #3A3FA7;
$blocbox-lt-violet: #6D73F4;
$blocbox-gold: #F4D03F;

// Foodlandia Case Study Colours
$foodlandia-green: #00FFC6;
$foodlandia-yellow: #FFED00;
$foodlandia-violet: #5138CA;
$foodlandia-pink: #FF0086;


// Typography
$lato-light: 300;
$lato-regular: 400;
$lato-bold: 700;
$lato-black: 900;
$fira-sans-medium: 500;
$fira-sans-semi-bold: 600;
$fira-sans-extra-bold: 800;


// Layout
$site-width: 1200px;

// Breakpoints
$medium-screen: 768px;
$small-screen: 480px;
