@font-face {
  font-family: Angelline;
  src: url(../fonts/angelline.otf), url(../fonts/angeline.ttf);
  font-weight: bold; }
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #2B2B2C;
  line-height: 1.5; }

h1 {
  font-family: 'Angelline', script;
  text-transform: lowercase;
  font-size: 5.0em;
  /* 90px */
  text-align: center;
  color: #88CAC9;
  margin-bottom: 5px;
  line-height: 1.2; }

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 2.667em;
  /* 48px */
  color: #342839;
  line-height: 1.0;
  /* 48px */
  text-transform: lowercase;
  margin: 0;
  padding-bottom: 40px; }

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 2.0em;
  /* 36px */
  line-height: 1.5;
  text-transform: lowercase;
  margin: 0;
  padding-bottom: 15px; }

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 1.111em;
  /* 20px */
  line-height: 1.45;
  text-transform: uppercase;
  margin: 0; }

h5 {
  font-weight: 700;
  font-size: 16px;
  /* 15px */
  color: #342839;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0; }

h6 {
  font-weight: 700;
  font-size: 14px;
  /* 12px */
  color: #342839;
  line-height: 1.2;
  text-transform: uppercase;
  margin: 0;
  padding-bottom: 5px; }

ul {
  margin: 0; }

p {
  margin-top: 0; }

a {
  font-weight: 400;
  color: #527A7A; }

.nav-links-desktop ul {
  font-weight: 400;
  font-size: 0.667em;
  /* 12px */
  line-height: 1.35;
  text-transform: uppercase; }
.nav-links-desktop a {
  font-weight: 400;
  color: #2B2B2C; }
.nav-links-desktop li:nth-child(4) a {
  border: 1px solid #2B2B2C;
  padding: 10px 15px;
  transition: all 0.25s ease-in-out; }
.nav-links-desktop li:nth-child(4):hover a {
  background-color: #56425E;
  border: 1px solid #56425E;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none; }

.nav-links-mobile {
  text-align: center; }
  .nav-links-mobile ul {
    font-size: 1.0em;
    text-transform: uppercase; }
  .nav-links-mobile li {
    padding-top: 20px;
    padding-bottom: 20px; }
  .nav-links-mobile a {
    font-weight: 300;
    color: #2B2B2C; }
  .nav-links-mobile li:nth-child(4) {
    display: flex;
    flex-direction: column;
    padding: 0; }
    .nav-links-mobile li:nth-child(4) a {
      background-color: #527A7A;
      padding: 20px 0;
      color: #fff;
      font-weight: 400; }

.header-content-wrapper .title-location-wrapper p {
  font-weight: 300; }

.view-case-study {
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.778em; }

footer {
  font-weight: 300;
  font-size: 0.778em;
  /* 14px */
  color: #fff;
  line-height: 1.2; }
  footer a {
    color: #fff;
    font-weight: 400;
    text-transform: lowercase; }

button {
  line-height: 10px;
  text-transform: uppercase;
  text-align: center; }
  button a {
    font-size: 12px;
    /* 12px */
    color: #2B2B2C;
    font-weight: 400; }

.header-content-wrapper p {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 1.2; }

.scroll-down-wrapper p {
  font-size: 0.444em;
  /* 8px */
  font-weight: 700;
  text-transform: uppercase;
  color: #4A4A4A;
  line-height: 1.2; }

.process-tile {
  text-align: center;
  color: #fff; }
  .process-tile ul {
    font-weight: 400;
    font-size: 0.667em;
    /* 12px */
    line-height: 1.6; }

.testimonials blockquote {
  font-weight: 300;
  font-size: 1.111em;
  /* 20px */
  font-style: italic;
  line-height: 1.55;
  color: #fff; }
  .testimonials blockquote span {
    font-family: 'Fira Sans', sans-serif;
    font-size: 4.222em;
    /* 76px */
    color: #BEE2E2; }

.testimonial-client p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 0.778em;
  /* 14px */
  line-height: 1.4;
  color: #fff;
  text-transform: uppercase; }
.testimonial-client p:last-child {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 0.667em;
  /* 12px */
  color: #BEE2E2; }

.cs-summary-content p {
  font-size: 20px;
  margin-bottom: 0; }

.chart-labels li {
  font-weight: 300;
  font-size: 0.667em;
  /* 12px */
  padding: 0 20px 5px 0; }

.survey-finding-wrapper ul {
  list-style-type: circle;
  padding-left: 25px; }
  .survey-finding-wrapper ul li {
    font-weight: 300;
    font-size: 0.778em;
    /* 14px */
    line-height: 1.5; }

.survey-pie-chart {
  text-align: center; }

.user-stories-flows-example p {
  font-size: 0.778em;
  /* 14px */ }

.test-plan {
  font-size: 0.778em;
  /* 14px */ }

.moneta-typography ul {
  font-size: 1.333em;
  /* 24px */
  line-height: 1.333; }
.moneta-typography .playfair-display-black-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 900; }
.moneta-typography .montserrat-medium-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
.moneta-typography .montserrat-light-body {
  font-family: 'Montserrat', sasn-serif;
  font-weight: 300; }

.blocbox-typography ul {
  font-size: 1.333em;
  /* 24px */
  line-height: 1.333; }
.blocbox-typography .roboto-slab-regular-heading {
  font-family: 'Roboto Slab', serif;
  font-weight: 400; }
.blocbox-typography .open-sans-regular-body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

.foodlandia-typography ul {
  font-size: 1.333em;
  /* 24px */
  line-height: 1.333; }
.foodlandia-typography .josefin-slab-semibold-heading {
  font-family: 'Josefin Slab', serif;
  font-weight: 600; }
.foodlandia-typography .open-sans-regular-body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400; }

@media screen and (max-width: 768px) {
  body {
    font-size: 17px; }

  button {
    font-size: 0.647em;
    /* 11px */ } }
@media screen and (max-width: 480px) {
  h1 {
    margin: 0; }

  .testimonials blockquote {
    font-size: 1.0em;
    /* 18px */ }
    .testimonials blockquote span {
      font-family: 'Fira Sans', sans-serif;
      font-size: 4.222em;
      /* 76px */
      color: #BEE2E2; }

  .survey-finding-wrapper ul li {
    font-size: 0.823em;
    /* 14px */ } }
.container {
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-small {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }
  a:hover {
    color: #88CAC9;
    text-decoration: underline; }

.button-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 30px; }
  .button-wrapper .button-bg {
    position: absolute;
    top: 7px;
    left: 7px;
    z-index: 0;
    background-color: #BEE2E2;
    height: 100%;
    width: 100%; }

.primary-button {
  position: relative;
  padding: 15px 25px;
  border: 1px solid #2B2B2C;
  background: none;
  z-index: 1;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .primary-button:hover {
    background-color: #D8C3CA;
    border: 1px solid #D8C3CA; }
    .primary-button:hover a {
      color: #fff;
      text-decoration: none; }

.ghost-button {
  padding: 15px 20px;
  border: 1px solid #000;
  background: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer; }
  .ghost-button i {
    padding-right: 5px; }
  .ghost-button a {
    font-size: 12px; }
  .ghost-button:hover {
    background-color: #56425E;
    border: 1px solid #56425E; }
    .ghost-button:hover a {
      color: #fff;
      text-decoration: none; }

.end-product-button {
  border: 1px solid #527A7A;
  background: #527A7A; }
  .end-product-button a {
    color: #fff; }

@media screen and (max-width: 768px) {
  .container {
    max-width: 708px;
    margin-left: 30px;
    margin-right: 30px;
    min-height: 0; }

  .button-wrapper .button-bg {
    top: 8px;
    left: 8px; }

  .primary-button {
    padding: 20px 50px; }

  .ghost-button {
    padding: 20px 30px; } }
nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  position: fixed;
  background-color: #fff;
  z-index: 5; }
  nav .main-nav-logo {
    display: flex;
    flex: 0 1 10%; }
  nav .nav-links-desktop {
    display: flex;
    align-items: center;
    flex: 0 1 80%;
    justify-content: flex-end; }
    nav .nav-links-desktop ul {
      margin: 0;
      display: flex; }
      nav .nav-links-desktop ul li {
        padding-right: 50px; }
        nav .nav-links-desktop ul li a.social {
          width: 18px;
          height: 18px;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: center center;
          display: block;
          opacity: 0.60; }
        nav .nav-links-desktop ul li a.linkedin {
          background-image: url("../assets/icons/linkedin-black.svg"); }
          nav .nav-links-desktop ul li a.linkedin:hover {
            background-image: url("../assets/icons/linkedin-colour.svg");
            opacity: 1.0; }
        nav .nav-links-desktop ul li a.dribbble {
          background-image: url("../assets/icons/dribbble-black.svg"); }
          nav .nav-links-desktop ul li a.dribbble:hover {
            background-image: url("../assets/icons/dribbble-colour.svg");
            opacity: 1.0; }
        nav .nav-links-desktop ul li a.github {
          background-image: url("../assets/icons/github-black.svg"); }
          nav .nav-links-desktop ul li a.github:hover {
            opacity: 1.0; }
      nav .nav-links-desktop ul li:nth-child(5),
      nav .nav-links-desktop ul li:nth-child(6) {
        padding-right: 15px; }
      nav .nav-links-desktop ul li:last-child {
        padding-right: 0; }
      nav .nav-links-desktop ul img {
        opacity: 0.50; }

.nav-mobile,
.nav-links-mobile {
  display: none; }

@media screen and (max-width: 768px) {
  .nav-desktop {
    display: none; }

  .nav-mobile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: transparent;
    position: inherit;
    padding-top: 10px; }
    .nav-mobile i {
      font-size: 24px;
      flex: 0 1 45%;
      text-align: right; }
    .nav-mobile .main-nav-logo {
      flex: 0 1 45%; }
      .nav-mobile .main-nav-logo img {
        width: 50px;
        height: 65.22px; }

  .nav-links-mobile {
    display: none;
    background-color: #D8EEEE; }
    .nav-links-mobile.expanded {
      display: block; } }
.header-content-wrapper {
  margin: 0 auto;
  max-width: 590px;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px; }

.title-location-wrapper {
  display: flex;
  justify-content: space-evenly; }
  .title-location-wrapper p:first-child {
    padding-right: 20px; }
  .title-location-wrapper p:nth-child(2) {
    padding-right: 5px; }

.scroll-down-wrapper {
  max-width: 130px;
  display: flex;
  position: absolute;
  bottom: 30px;
  align-self: center; }
  .scroll-down-wrapper p {
    padding-left: 10px; }

@media screen and (max-width: 768px) {
  .header-content-wrapper {
    padding: 150px 0;
    max-width: 100%; }

  .scroll-down-wrapper {
    display: none; } }
@media screen and (max-width: 480px) {
  .title-location-wrapper {
    flex-direction: column;
    text-align: center;
    padding-top: 50px; }
    .title-location-wrapper p:first-child {
      padding: 0;
      margin-bottom: 5px; } }
.about-me {
  position: relative; }

.about-me-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.45;
  background: #BEE2E2;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.35) 0%, rgba(136, 202, 201, 0.41) 23%, rgba(111, 134, 147, 0.53) 48%, rgba(118, 92, 128, 0.62) 73%, #583765 100%); }

.about-me-content {
  position: relative;
  z-index: 2; }

.about-wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 893px;
  padding-top: 50px;
  padding-bottom: 50px; }
  .about-wrapper img {
    border-radius: 50%;
    margin-bottom: 20px; }

.design-projects {
  background-color: #F8FAFA; }

.design-projects-wrapper {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 50px 0; }

.design-project-intro {
  flex: 0 1 30%; }

.design-project-tiles {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
  position: relative; }

.tile-wrapper {
  position: relative;
  width: 250px;
  height: 250px; }
  .tile-wrapper .view-case-study {
    position: absolute;
    bottom: 15%;
    width: 250px;
    pointer-events: none;
    display: none; }
  .tile-wrapper:hover .view-case-study {
    display: block; }
  .tile-wrapper:hover .project-tile .project-1-overlay {
    background-color: rgba(0, 0, 0, 0.7); }
  .tile-wrapper:hover .project-tile .project-2-overlay {
    background-color: rgba(0, 0, 0, 0.7); }
  .tile-wrapper:hover .project-tile .project-3-overlay {
    background-color: rgba(0, 0, 0, 0.7); }

.left-diamond {
  top: 100px;
  left: 50px; }

.middle-diamond {
  top: -100px; }

.right-diamond {
  top: 100px;
  right: 50px; }

.project-tile {
  width: 250px;
  height: 250px;
  transform: rotate(45deg);
  box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  overflow: hidden; }
  .project-tile img {
    transform: rotate(-45deg); }

.project-1 .project-1-bg {
  background-image: url("../../assets/images/jam-cafe.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 145%;
  height: 145%;
  transform: rotate(-45deg); }
.project-1 .project-1-overlay {
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 145%;
  height: 145%; }

.project-2 .project-2-bg {
  background-image: url("../../assets/images/newlyweds.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 145%;
  height: 145%;
  transform: rotate(-45deg); }
.project-2 .project-2-overlay {
  background-color: rgba(77, 114, 152, 0.6);
  position: absolute;
  width: 145%;
  height: 145%; }

.project-3 .project-3-bg {
  background-image: url("../../assets/images/blocbox-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 145%;
  height: 145%;
  transform: rotate(-45deg); }
.project-3 .project-3-overlay {
  position: absolute;
  width: 145%;
  height: 145%; }

@media screen and (max-width: 1200px) {
  .design-projects-wrapper {
    flex-wrap: wrap;
    flex-direction: column; }

  .design-project-intro,
  .design-project-tiles {
    flex: 0 1 100%; }

  .design-project-intro {
    text-align: center; }

  .design-project-tiles {
    margin-top: 200px;
    margin-bottom: 150px; } }
@media screen and (max-width: 768px) {
  .design-project-tiles {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 400px; }

  .left-diamond {
    top: 0;
    left: 0; }

  .middle-diamond {
    top: 140px; }

  .right-diamond {
    top: 280px;
    right: 0; } }
.design-process-wrapper {
  padding: 50px 0 80px 0;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; }

.design-process-intro {
  text-align: center;
  padding-bottom: 60px;
  margin: 0 auto;
  max-width: 895px; }

.design-process-tiles {
  display: flex;
  flex: 0 1 100%;
  flex-wrap: wrap; }

.process-tile {
  width: 200px;
  height: 200px;
  background-color: #56425E;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.6); }
  .process-tile .process-tile-content {
    transform: rotate(-45deg); }
  .process-tile img {
    padding-bottom: 7px; }
  .process-tile h4 {
    color: #fff; }
  .process-tile:first-child {
    margin-top: 110px; }
  .process-tile:nth-child(2) {
    background-color: #88CAC9; }
  .process-tile:nth-child(3) {
    background-color: #D8C3CA;
    margin-top: 110px; }
  .process-tile:nth-child(4) {
    background-color: #BEE2E2; }
  .process-tile:last-child {
    background-color: #342839;
    margin-top: 110px; }

@media screen and (max-width: 768px) {
  .design-process-intro {
    padding-bottom: 40px; }

  .process-tile:first-child,
  .process-tile:nth-child(3),
  .process-tile:nth-child(5) {
    margin-top: 0; }

  .process-tile {
    transform: none;
    flex: 0 1 100%; }
    .process-tile .process-tile-content {
      transform: none; } }
section.testimonials {
  background: #56425E; }

.testimonial-wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 30px 0 30px 0; }
  .testimonial-wrapper blockquote {
    margin: 0;
    padding: 15px 20px 15px 20px; }

.testimonial-quote {
  margin: 0 auto;
  display: flex;
  max-width: 800px; }
  .testimonial-quote img:last-child {
    align-self: flex-end; }

.testimonial-client {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 70px; }
  .testimonial-client img {
    border-radius: 50%;
    align-self: center; }
  .testimonial-client p {
    padding-top: 20px;
    margin-bottom: 0; }
  .testimonial-client p:last-child {
    padding-top: 0; }

@media screen and (max-width: 768px) {
  .testimonial-wrapper {
    padding-top: 50px;
    padding-bottom: 0; }

  .testimonial-quote {
    max-width: 550px; } }
@media screen and (max-width: 480px) {
  .testimonial-client {
    padding-bottom: 40px; } }
.contact-me {
  min-height: 0; }

.contact-me-wrapper {
  margin: 0 auto;
  max-width: 588px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 0;
  text-align: center; }

.intro-container {
  position: relative; }

.intro-bg {
  height: 90%;
  top: 0;
  position: absolute;
  width: 100%; }

.case-study-centered {
  text-align: center;
  background-color: #D8EEEE; }

.case-study-wrapper-centered {
  max-width: 895px;
  padding: 50px 0; }
  .case-study-wrapper-centered img {
    width: 100%;
    padding: 50px 0 30px 0; }

.case-study-article-wrapper {
  max-width: 100%;
  padding: 50px 0; }

.case-study-content-wrapper {
  display: flex;
  justify-content: space-between; }

.case-study-content-left {
  flex: 0 1 40%; }

.case-study-content-right {
  flex: 0 1 50%; }

.graphic-content-right {
  text-align: center; }

.case-study-intro-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1; }

.cs-summary-details-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.case-study-intro-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 100px; }

.cs-summary-details-wrapper {
  font-size: 0.778em;
  /* 14px */
  display: flex;
  justify-content: space-between;
  padding: 60px 0 30px 0;
  width: 100%; }

.case-study-summary {
  display: flex;
  justify-content: space-between; }

.cs-summary-content {
  flex: 0 1 37.5%;
  align-self: flex-end; }

.cs-summary-detail-section {
  flex: 0 1 30%; }

.end-product {
  flex: 0 1 20%; }

.survey {
  background-color: #F8FAFA; }

.survey-pie-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.survey-pie-chart {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .survey-pie-chart img {
    padding: 20px 0; }

.chart-labels {
  display: flex;
  flex-wrap: wrap; }
  .chart-labels .med-purple {
    background-color: #56425E; }
  .chart-labels .dark-purple {
    background-color: #342839; }
  .chart-labels .med-pink {
    background-color: #D8C3CA; }
  .chart-labels .med-green {
    background-color: #88CAC9; }
  .chart-labels .dark-green {
    background-color: #527A7A; }

.chart-label-color {
  width: 15px;
  height: 15px;
  background-color: #2B2B2C;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; }

.survey-finding-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between; }

.survey-finding {
  width: 280px; }

.user-stories-flows {
  background-color: #F8FAFA; }

.user-stories {
  flex: 0 1 45%; }

.user-flows {
  flex: 0 1 45%; }

.user-flows-button {
  display: none; }

.user-stories-flows-example div:nth-child(2) {
  padding-top: 15px; }

.brand-identity-container {
  padding: 30px 0; }

.style-guide-sections {
  padding-top: 40px;
  display: flex; }
  .style-guide-sections h6 {
    padding-bottom: 15px; }
  .style-guide-sections .colour-palette ul {
    font-size: 0.667em;
    /* 12px */
    font-weight: 400;
    line-height: 1.25; }

.branding-logo-variations ul {
  display: flex; }
.branding-logo-variations li {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #F1F1F1;
  box-shadow: 5px 5px 4px #DBDADC;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.primary-palette {
  padding-right: 60px; }

.colour-swatches {
  display: flex; }
  .colour-swatches li {
    display: flex;
    flex-direction: column;
    padding-right: 20px; }

.colour-swatch {
  width: 55px;
  height: 55px;
  background-color: #111111;
  border-radius: 50%;
  margin-bottom: 10px; }

.testing-bg {
  background-color: #F8FAFA; }

.testing-container {
  padding: 50px 0; }

.testing-section {
  padding-top: 15px; }

.conclusion {
  position: relative; }

.conclusion-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  background: #D8EEEE; }

.conclusion-content {
  position: relative;
  z-index: 2; }

@media screen and (max-width: 768px) {
  .intro-bg {
    height: 50%; }

  .case-study-intro-container {
    max-width: 708px;
    margin: 0 auto;
    min-height: 0;
    margin-left: 30px;
    margin-right: 30px; }

  .cs-summary-details-container {
    max-width: 708px;
    margin-left: 30px;
    margin-right: 30px; }

  .cs-summary-details-wrapper {
    text-align: center;
    padding-top: 10px;
    flex-wrap: wrap; }

  .cs-summary-detail-section {
    padding-top: 15px;
    flex: 0 1 100%; }

  .end-product {
    flex: 0 1 100%; }
    .end-product h6 {
      display: none; }

  .case-study-wrapper-centered {
    max-width: 708px;
    margin-left: 30px;
    margin-right: 30px; }

  .case-study-intro-wrapper {
    text-align: center; }

  .case-study-article-wrapper {
    padding: 50px 0; }

  .case-study-content-wrapper {
    flex-direction: column;
    max-width: 100%; }
    .case-study-content-wrapper .case-study-content-left {
      padding-bottom: 40px; }

  .case-study-summary {
    flex-direction: column;
    padding: 30px 0; }
    .case-study-summary h6 {
      display: none; }
    .case-study-summary h2 {
      font-size: 3.0em; }
    .case-study-summary img {
      align-self: center;
      padding-bottom: 40px; }
    .case-study-summary p {
      line-height: 1.5; }

  .survey-finding {
    flex: 0 1 45%; }

  .competitive-analysis .case-study-content-left {
    padding-bottom: 0; }

  .ca-infographic {
    display: none; }

  .user-stories {
    padding: 50px 0; }

  .user-flows {
    padding-bottom: 50px; }

  .user-stories-flows-example h4 {
    display: none; }

  .user-flows-button {
    display: block;
    margin-top: 40px; }

  .user-flows-example {
    display: none; } }
@media screen and (max-width: 480px) {
  .intro-bg {
    height: 40%; }

  .case-study-wrapper-centered {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .case-study-wrapper-centered img {
      display: none; }
    .case-study-wrapper-centered button {
      margin-top: 30px; }

  .case-study-summary img {
    width: 100%;
    height: 100%; }
  .case-study-summary .cs-summary-content h2 {
    padding-bottom: 20px; }

  .case-study-intro-wrapper {
    margin-top: 50px; }

  .cs-summary-details-wrapper {
    flex-wrap: wrap; }

  .cs-summary-detail-section {
    flex: 0 1 100%;
    padding-top: 15px; }

  .survey-pie-charts {
    flex-direction: column;
    align-items: center; }
    .survey-pie-charts .survey-pie-chart {
      padding-bottom: 40px; }
      .survey-pie-charts .survey-pie-chart img {
        width: 120%;
        height: 120%; }

  .survey-finding-wrapper {
    flex-wrap: wrap; }
    .survey-finding-wrapper .survey-finding {
      flex: 0 1 100%; }
      .survey-finding-wrapper .survey-finding:nth-child(2) {
        padding-top: 20px; }

  .user-stories-flows-example img {
    width: 100%;
    height: 100%; }

  .style-guide-sections {
    flex-wrap: wrap; }
    .style-guide-sections .secondary-palette {
      padding-top: 30px; }

  .testing-bg .case-study-content-left {
    padding-bottom: 0; }
  .testing-bg .case-study-article-wrapper {
    padding-bottom: 0; }

  .testing-container .case-study-article-wrapper {
    padding-top: 0; }

  .test-plan {
    display: none; }

  .graphic-content-right img {
    width: 100%;
    padding-bottom: 15px; } }
.blocbox-intro-bg {
  background: rgba(58, 63, 167, 0.15); }

.blocbox-intro-bg-img {
  background-image: url("../../assets/images/blocbox-case-study/collaboration.jpg");
  opacity: 0.15;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%; }

.blocbox-showcase {
  display: flex;
  flex: 0 1 60%; }
  .blocbox-showcase img {
    display: block;
    margin: auto; }

.colour-swatches .blocbox-dk-blue {
  background-color: #161A5B; }
.colour-swatches .blocbox-med-violet {
  background-color: #3A3FA7; }
.colour-swatches .blocbox-lt-violet {
  background-color: #6D73F4; }
.colour-swatches .blocbox-gold {
  background-color: #F4D03F; }

.blocbox-case-study-bg {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #161A5B 100%); }

.blocbox-survey-finding {
  width: 100%; }

.blocbox-logos ul li:last-child {
  background-color: #000; }
.blocbox-logos li {
  width: 205px;
  height: 130px; }

.blocbox-typography {
  display: flex;
  justify-content: space-between; }

.cs-blocbox-preference-sample {
  display: flex;
  padding-bottom: 20px; }
  .cs-blocbox-preference-sample img,
  .cs-blocbox-preference-sample p {
    padding-right: 40px; }

@media screen and (max-width: 480px) {
  .blocbox-logos ul {
    flex-wrap: wrap; }
    .blocbox-logos ul li:nth-child(2) {
      margin-top: 20px; }

  .blocbox-typography div:last-child {
    padding-top: 30px; } }
.foodlandia-intro-bg {
  background: rgba(77, 114, 152, 0.1); }

.foodlandia-intro-bg-img {
  background-image: url("../../assets/images/foodlandia-case-study/takeout.jpg");
  opacity: 0.15;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%; }

.foodlandia-showcase {
  display: flex;
  flex: 0 1 60%; }
  .foodlandia-showcase img {
    display: block;
    margin: auto; }

.colour-swatches .foodlandia-green {
  background-color: #00FFC6; }
.colour-swatches .foodlandia-yellow {
  background-color: #FFED00; }
.colour-swatches .foodlandia-violet {
  background-color: #5138CA; }
.colour-swatches .foodlandia-pink {
  background-color: #FF0086; }

.foodlandia-logos ul li:last-child {
  background-color: #000; }
.foodlandia-logos li {
  width: 250px;
  height: 150px; }

.foodlandia-typography {
  display: flex;
  justify-content: space-between; }

@media screen and (max-width: 768px) {
  .foodlandia-case-study-bg img {
    width: 25%; }
  .foodlandia-case-study-bg .cs-summary-content {
    padding: 0; } }
@media screen and (max-width: 480px) {
  .foodlandia-showcase img {
    width: 50%;
    height: 50%; }

  .foodlandia-logos ul {
    flex-wrap: wrap; }
    .foodlandia-logos ul li:nth-child(2) {
      margin-top: 20px; } }
.moneta-intro-bg {
  background: rgba(77, 114, 152, 0.15); }

.moneta-intro-bg-img {
  background-image: url("../../assets/images/moneta-case-study/newlyweds.jpg");
  opacity: 0.15;
  background-position: top center;
  background-repeat: no-repeat;
  height: 100%; }

.colour-swatches .moneta-dk-blue {
  background-color: #4D7298; }
.colour-swatches .moneta-med-blue {
  background-color: #42BBC5; }
.colour-swatches .moneta-med-green {
  background-color: #9AEAD4; }
.colour-swatches .moneta-lt-green {
  background-color: #EDF7F4; }
.colour-swatches .moneta-pink {
  background-color: #E17BAC; }
.colour-swatches .moneta-purple {
  background-color: #83437E; }

.moneta-logos ul li:last-child {
  background-color: #42BBC5; }
.moneta-logos li {
  width: 130px;
  height: 130px; }

.moneta-headings {
  padding-right: 110px; }

footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  background-color: #342839;
  padding: 30px 0; }

.logo-copyright {
  display: flex;
  align-items: center;
  flex: 0 1 45%; }
  .logo-copyright p {
    padding-left: 20px;
    margin: 0; }

.resume-contact-social {
  display: flex;
  align-items: center;
  flex: 0 1 45%;
  justify-content: flex-end; }
  .resume-contact-social ul {
    display: flex;
    margin: 0 50px 0 25px; }
    .resume-contact-social ul li {
      padding-left: 25px; }
      .resume-contact-social ul li a.social {
        width: 24px;
        height: 24px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center center;
        display: block; }
      .resume-contact-social ul li a.linkedin {
        background-image: url("../assets/icons/linkedin-white.svg"); }
        .resume-contact-social ul li a.linkedin:hover {
          background-image: url("../assets/icons/linkedin-colour.svg"); }
      .resume-contact-social ul li a.dribbble {
        background-image: url("../assets/icons/dribbble-white.svg"); }
        .resume-contact-social ul li a.dribbble:hover {
          background-image: url("../assets/icons/dribbble-colour.svg"); }
      .resume-contact-social ul li a.github {
        background-image: url("../assets/icons/github-white.svg"); }
        .resume-contact-social ul li a.github:hover {
          background-image: url("../assets/icons/github-colour.svg"); }

.copyright-mobile {
  display: none; }

@media screen and (max-width: 768px) {
  footer {
    flex-direction: column; }

  .logo-copyright {
    flex: 0 1 100%;
    justify-content: center; }
    .logo-copyright p {
      display: none; }
    .logo-copyright img {
      width: 75px;
      height: 103.64px; }

  .resume-contact-social {
    flex: 0 1 100%;
    justify-content: center;
    padding: 30px 0;
    flex-direction: column; }
    .resume-contact-social ul {
      padding: 25px 0; }

  .copyright-mobile {
    display: block;
    text-align: center; } }

/*# sourceMappingURL=base.css.map */
