@font-face {
  font-family: Angelline;
  src: url(../fonts/angelline.otf), url(../fonts/angeline.ttf);
  font-weight: bold; }
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: #2B2B2C;
  line-height: 24px; }

h1 {
  font-family: 'Angelline', script;
  text-transform: lowercase;
  font-size: 90px;
  text-align: center;
  color: #88CAC9;
  margin-bottom: 45px; }

h2 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 48px;
  color: #342839;
  line-height: 48px;
  text-transform: lowercase;
  margin: 0;
  padding-bottom: 30px; }

h3 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 800;
  font-size: 36px;
  line-height: 53px;
  text-transform: lowercase;
  margin: 0;
  padding-bottom: 15px; }

h4 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-transform: uppercase;
  margin: 0; }

h5 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  color: #342839;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0; }

h6 {
  font-weight: 700;
  font-size: 10px;
  color: #342839;
  line-height: 12px;
  text-transform: uppercase;
  margin: 0; }

ul {
  margin: 0; }

p {
  margin-top: 0; }

a {
  font-weight: 900;
  color: #527A7A; }

.nav-links ul {
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  text-transform: lowercase; }
.nav-links a {
  font-weight: 400;
  color: #2B2B2C; }
.nav-links li:nth-child(4) a {
  font-weight: 900;
  color: #527A7A; }

footer {
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  line-height: 17px; }
  footer a {
    color: #fff;
    font-weight: 400;
    text-transform: lowercase; }

button {
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-transform: uppercase;
  text-align: center; }
  button a {
    color: #2B2B2C; }

.header-content-wrapper p {
  text-transform: uppercase;
  font-weight: 400;
  line-height: 22px; }

.scroll-down-wrapper p {
  font-size: 8px;
  font-weight: 700;
  text-transform: uppercase;
  color: #4A4A4A;
  line-height: 10px; }

.process-tile {
  text-align: center;
  color: #fff; }
  .process-tile ul {
    font-weight: 400;
    font-size: 12px;
    line-height: 19px; }

.testimonials blockquote {
  font-weight: 400;
  font-style: italic;
  line-height: 28px;
  color: #fff; }
  .testimonials blockquote span {
    font-family: 'Fira Sans', sans-serif;
    font-size: 76px;
    color: #BEE2E2; }

.testimonial-client p {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase; }
.testimonial-client p:last-child {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #BEE2E2; }

.chart-labels li {
  font-weight: 300;
  font-size: 12px;
  padding: 0 20px 5px 0; }

.survey-finding-wrapper ul {
  list-style-type: circle;
  padding-left: 25px; }
  .survey-finding-wrapper ul li {
    font-weight: 300;
    font-size: 12px;
    line-height: 18px; }

.user-stories-examples p {
  font-size: 14px; }

.container {
  width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.container-small {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center; }

ul {
  list-style: none;
  padding: 0; }

a {
  text-decoration: none; }

a:hover {
  color: #88CAC9;
  text-decoration: underline; }

.button-wrapper {
  position: relative;
  display: inline-block;
  margin-top: 30px; }
  .button-wrapper .button-bg {
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: 0;
    background-color: #BEE2E2;
    height: 100%;
    width: 100%; }

button {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #2B2B2C;
  background: none;
  z-index: 1; }

button.slick-prev {
  left: -150px; }

button.slick-next {
  right: -150px; }

nav {
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  padding: 15px 10px 10px 60px; }
  nav .main-nav-logo {
    display: flex; }
  nav .nav-links {
    display: flex;
    align-items: center; }
    nav .nav-links ul {
      margin: 0;
      display: flex; }
      nav .nav-links ul li {
        padding-right: 50px; }
      nav .nav-links ul li:nth-child(5),
      nav .nav-links ul li:nth-child(6) {
        padding-right: 15px; }
      nav .nav-links ul img {
        opacity: 0.50; }

.header-content-wrapper {
  margin: 0 auto;
  max-width: 590px;
  display: flex;
  flex-direction: column; }

.title-location-wrapper {
  display: flex;
  justify-content: space-evenly; }

.scroll-down-wrapper {
  margin: 0 auto;
  max-width: 130px;
  display: flex;
  padding-top: 250px; }
  .scroll-down-wrapper p {
    padding-left: 10px; }

.about-me {
  position: relative; }

.about-me-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.45;
  background: #BEE2E2;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.35) 0%, rgba(136, 202, 201, 0.41) 23%, rgba(111, 134, 147, 0.53) 48%, rgba(118, 92, 128, 0.62) 73%, #583765 100%); }

.about-me-content {
  position: relative;
  z-index: 2; }

.about-wrapper {
  margin: 0 auto;
  text-align: center;
  max-width: 893px;
  padding-top: 30px;
  padding-bottom: 30px; }
  .about-wrapper img {
    border-radius: 50%;
    margin-bottom: 20px; }

.design-process-wrapper {
  padding-bottom: 60px; }

.design-process-intro {
  margin: 0 auto;
  text-align: center;
  max-width: 895px;
  padding-bottom: 90px; }

.design-process-tiles {
  display: flex; }

.process-tile {
  width: 200px;
  height: 200px;
  background-color: #56425E;
  transform: rotate(45deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(114, 114, 114, 0.6); }
  .process-tile .process-tile-content {
    transform: rotate(-45deg); }
  .process-tile img {
    padding-bottom: 7px; }
  .process-tile h4 {
    color: #fff; }

.process-tile:first-child {
  margin-top: 110px; }

.process-tile:nth-child(2) {
  background-color: #88CAC9; }

.process-tile:nth-child(3) {
  background-color: #D8C3CA;
  margin-top: 110px; }

.process-tile:nth-child(4) {
  background-color: #BEE2E2; }

.process-tile:last-child {
  background-color: #342839;
  margin-top: 110px; }

section.testimonials {
  background: #56425E linear-gradient(0deg, rgba(255, 255, 255, 0.35) 0%, rgba(136, 202, 201, 0.41) 23%, rgba(111, 134, 147, 0.53) 48%, rgba(118, 92, 128, 0.62) 73%, #583765 100%); }

.testimonial-wrapper {
  margin: 0 auto;
  max-width: 677px;
  padding: 30px 0 30px 0; }
  .testimonial-wrapper blockquote {
    margin: 0;
    padding: 15px 20px 15px 20px; }

.testimonial-quote {
  display: flex; }
  .testimonial-quote img:last-child {
    align-self: flex-end; }

.testimonial-client {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 70px; }
  .testimonial-client img {
    border-radius: 50%;
    align-self: center; }
  .testimonial-client p {
    padding-top: 20px;
    margin-bottom: 0; }
  .testimonial-client p:last-child {
    padding-top: 0; }

.contact-me-wrapper {
  margin: 0 auto;
  max-width: 588px;
  display: flex;
  flex-direction: column;
  align-items: center; }

.contact-me-form {
  margin-top: 60px; }
  .contact-me-form form {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact-me-form input::placeholder,
  .contact-me-form textarea::placeholder {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 16px; }
  .contact-me-form input,
  .contact-me-form textarea {
    width: 100%;
    padding: 8px 15px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid #4A4A4A;
    margin-bottom: 40px;
    font-family: 'Lato', sans-serif;
    font-weight: 300px;
    font-size: 16px; }
  .contact-me-form textarea {
    height: 40px; }
  .contact-me-form input:focus,
  .contact-me-form textarea:focus {
    outline: none;
    border-bottom: 3px solid #D8C3CA; }

.case-study-centered {
  text-align: center;
  background-color: #D8EEEE; }

.case-study-wrapper-centered {
  max-width: 895px;
  padding: 50px 0; }
  .case-study-wrapper-centered img {
    width: 100%;
    padding-top: 50px; }

.case-study-content-wrapper {
  display: flex;
  justify-content: space-between; }

.case-study-content-left {
  flex: 0 1 40%; }

.case-study-content-right {
  flex: 0 1 50%; }

.graphic-content-right {
  text-align: center; }

.case-study-intro-container {
  width: 1200px;
  margin: 0 auto;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center; }

.cs-summary-details-container {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center; }

.case-study-intro-wrapper {
  display: flex;
  flex-direction: column; }

.cs-summary-details-wrapper {
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  width: 100%; }

.case-study-summary {
  display: flex;
  justify-content: space-around; }

.cs-summary-content {
  flex: 0 1 40%;
  align-self: flex-end; }

.cs-summary-detail-section {
  flex: 0 1 30%; }

.end-product {
  flex: 0 1 20%; }

.survey {
  background-color: #F8FAFA; }

.survey-pie-charts {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }

.survey-pie-chart {
  max-width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .survey-pie-chart img {
    padding: 20px 0; }

.chart-labels {
  display: flex;
  flex-wrap: wrap; }
  .chart-labels .dark-purple {
    background-color: #342839; }
  .chart-labels .med-pink {
    background-color: #D8C3CA; }
  .chart-labels .med-green {
    background-color: #88CAC9; }
  .chart-labels .dark-green {
    background-color: #527A7A; }

.chart-label-color {
  width: 15px;
  height: 15px;
  background-color: #56425E;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px; }

.survey-finding-wrapper {
  padding-top: 40px;
  display: flex;
  justify-content: space-between; }

.survey-finding {
  width: 280px; }

.user-stories-flows {
  background-color: #F8FAFA; }

.user-stories {
  flex: 0 1 45%; }

.user-flows {
  flex: 0 1 45%; }

.user-stories-flows-example div:nth-child(2) {
  padding-top: 15px; }

.brand-identity-container {
  padding: 30px 0; }

.style-guide-sections {
  padding-top: 40px;
  display: flex; }
  .style-guide-sections h6 {
    padding-bottom: 15px; }
  .style-guide-sections ul {
    font-size: 12px;
    font-weight: 400;
    line-height: 15px; }

.branding-logo-variations ul {
  display: flex; }
.branding-logo-variations li {
  border-radius: 10px;
  background-color: #fff;
  border: 1px solid #F1F1F1;
  box-shadow: 5px 5px 4px #DBDADC;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center; }

.colour-swatches {
  display: flex; }
  .colour-swatches li {
    display: flex;
    flex-direction: column;
    padding-right: 20px; }
  .colour-swatches .moneta-dk-blue {
    background-color: #4D7298; }
  .colour-swatches .moneta-med-blue {
    background-color: #42BBC5; }
  .colour-swatches .moneta-med-green {
    background-color: #9AEAD4; }
  .colour-swatches .moneta-lt-green {
    background-color: #EDF7F4; }
  .colour-swatches .moneta-pink {
    background-color: #E17BAC; }
  .colour-swatches .moneta-purple {
    background-color: #83437E; }
  .colour-swatches .blocbox-dk-blue {
    background-color: #161A5B; }
  .colour-swatches .blocbox-med-violet {
    background-color: #3A3FA7; }
  .colour-swatches .blocbox-lt-violet {
    background-color: #6D73F4; }
  .colour-swatches .blocbox-gold {
    background-color: #F4D03F; }

.colour-swatch {
  width: 55px;
  height: 55px;
  background-color: #111111;
  border-radius: 50%;
  margin-bottom: 10px; }

.testing-bg {
  background-color: #F8FAFA; }

.testing-container {
  padding: 50px 0; }

.test-plan {
  font-size: 14px; }

.testing-section {
  padding-top: 15px; }

.conclusion {
  position: relative; }

.conclusion-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0.45;
  background: #BEE2E2;
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0.35) 0%, rgba(136, 202, 201, 0.41) 23%, rgba(111, 134, 147, 0.53) 48%, rgba(118, 92, 128, 0.62) 73%, #583765 100%); }

.conclusion-content {
  position: relative;
  z-index: 2; }

.moneta-case-study-bg {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #4D7298 100%); }

.moneta-logos ul li:last-child {
  background-color: #42BBC5; }
.moneta-logos li {
  width: 130px;
  height: 130px; }

.moneta-primary-palette {
  padding-right: 60px; }

.moneta-typography ul {
  font-size: 24px;
  line-height: 32px; }
.moneta-typography .playfair-display-black-heading {
  font-family: 'Playfair Display', serif;
  font-weight: 900; }
.moneta-typography .montserrat-medium-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500; }
.moneta-typography .montserrat-light-body {
  font-family: 'Montserrat', sasn-serif;
  font-weight: 300; }

.moneta-headings {
  padding-right: 110px; }

.blocbox-case-study-bg {
  background-image: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #161A5B 100%); }

.blocbox-survey-finding {
  width: 100%; }

.blocbox-logos ul li:last-child {
  background-color: #000; }
.blocbox-logos li {
  width: 205px;
  height: 130px; }

.blocbox-typography {
  display: flex;
  justify-content: space-between; }
  .blocbox-typography ul {
    font-size: 24px;
    line-height: 32px; }
  .blocbox-typography .roboto-slab-regular-heading {
    font-family: 'Roboto Slab', serif;
    font-weight: 400; }
  .blocbox-typography .open-sans-regular-body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400; }

.cs-blocbox-preference-sample {
  display: flex;
  padding-bottom: 20px; }
  .cs-blocbox-preference-sample img,
  .cs-blocbox-preference-sample p {
    padding-right: 40px; }

footer {
  display: flex;
  justify-content: space-between;
  background-color: #342839;
  padding: 30px 60px 30px 60px; }

.logo-copyright {
  display: flex;
  align-items: center; }
  .logo-copyright p {
    padding-left: 20px; }

.resume-contact-social {
  display: flex;
  align-items: center; }
  .resume-contact-social ul {
    display: flex;
    margin: 0 50px 0 25px; }
    .resume-contact-social ul li {
      padding-left: 25px; }

/*# sourceMappingURL=base.css.map */
